/*Referente a pagina*/
html{    margin-top: -1px;   }

#container{    
        border: solid black 6px;
        
        position: relative;
        justify-content: space-evenly;
        background-color: rgb(141, 238, 209);
        max-width: 1060px;
        height: 550px;
        cursor: pointer;
    }
    #jog{
        width: 30px;
        height: 30px;
        position: relative;
        background-color: rgb(230, 255, 1);
        border: solid black 2px;
        z-index: 1;
        
    }
    .obstaculos{
        width: 25px;
        height: 25px;
        position: absolute;
        background-color: red;
        border: solid black 2px;
    }
   
    #vencer{
        width: 60px;
        height: 60px;
        background-color: green;
        position: relative;
       
    }
    #botao{
        width: 20px;
        height: 30px;
        background-color: red;
    }
 
    #barreira{
        
        position: absolute;
        background-color: black;
       
        left: 500px;
      
        border: solid black 2px;
    }
